In [2]:
import mysql.connector as connector

In [3]:
dbconfig = {
    "host": "localhost",
    "user": "JaydeepGajera",
    "password": "Mysql$9537",
    "database": "little_lemon",
}

In [4]:
connection = connector.connect(**dbconfig)

In [7]:
show_tables_query = "SHOW tables"

In [8]:
cursor = connection.cursor()

In [9]:
cursor.execute(show_tables_query)

In [10]:
results = cursor.fetchall()
for row in results:
    print(row)

('address',)
('bookings',)
('customer',)
('delivery',)
('menuitems',)
('menus',)
('orders',)
('staff',)

In [11]:
print(results)

[('address',), ('bookings',), ('customer',), ('delivery',), ('menuitems',), ('menus',), ('orders',), ('staff',)]

In [12]:
query = '''
SELECT C.`customer_id`, O.`bill_amount`
FROM `orders` O
LEFT JOIN `bookings` B
ON O.`booking_id` = B.`booking_id`
LEFT JOIN `customer` C
ON B.`customer_id` = C.`customer_id`
WHERE O.`bill_amount` > 60;
'''

In [13]:
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(row)
connection.close()